[Desktop Entry]
Categories=Development;Electronics;
Comment=ly serial tool
Exec=ly-serial-tool
Keywords=ly serial tool
GenericName=ly serial tool
Icon=transceiver.png
Name=ly serial tool
Type=Application
Name[en_US]=ly serial tool
MimeType=application/eprj

